
/*-----------------CONTACT PAGE----------------------------*/


/*---------------- mobile first 360X620 ------------------------------*/

@font-face {
    font-family: street street-fighter-zero-3-arcade-1-0;
    src: url("images/street-fighter-zero-3-arcade-1-0\ \(4\).ttf");
}

a:-webkit-any-link{
    color: var(--light);
    text-decoration: none;
    font-family: 'street street-fighter-zero-3-arcade-1-0';
}

body{
    margin: 0;
    padding: 0;
    background: var(--dark);
}

:root {
    --primarycolor: yellow;
    --secondarycolor: orange;
    --dark: black;
    --light: white;
    --spacing:1rem;
    --spacing2: 2rem;
    --spacing3: 4rem;
    --fontsizelargemobile: 35px;
    --fontsizesmallmobile: 20px;
    --fontsizelargedesktop: 50px;
    --fontsizesmalldesktop: 25px;
}

.quit {
    visibility: hidden;
 }

#contactTitle {
    color: var(--light);
    font-size: var(--fontsizelargemobile);
    padding: var(--spacing);
    font-family: street street-fighter-zero-3-arcade-1-0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(255, 238, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(3px 3px 4px rgb(45, 73, 197));}



#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing2)
}

input, #message {
    font: var(--fontsizesmallmobile);
    padding: 8px;
    width: 20rem;
}

#message {
    height: 5rem;
}

#submitdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}
#submitTitle {
    padding: 8px;
    font-size: 1.4rem;
    font-family: street street-fighter-zero-3-arcade-1-0;
    color: var(--light);
}

#submitTitle:hover {
    transform: scale(1.2);
    transition: 1s ease-in-out;
    background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(255, 238, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(3px 3px 4px rgb(45, 73, 197));}


.divGif {
    visibility: hidden;
}

.showme {
    visibility: visible;
    object-fit: cover;
    margin-left: 3rem;
}


/*----------------DESKTOP VERSION------------------------------*/

@media screen and (min-width: 1080px) {
    
body {
        margin: 0;
        padding: 0;
    }

.quit {
        visibility: visible;
        z-index: 2;
        position: absolute;
        right: 0;
        margin: 2rem;
        /* display: block; */
        text-decoration: none;
        color: white;
      }
     
.quit:hover {
        transform: scale(1.8);
        transition: 1000ms;
        background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(255, 238, 0));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(3px 3px 4px rgb(45, 73, 197));
      }

.exitFleche:active {
        transform: scale(1.3);
        transition: 200ms;
        background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(255, 238, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(3px 3px 4px rgb(45, 73, 197)); }
    

#contactTitle {
font-size: var(--fontsizelargedesktop);
}

input, #message {
    font: var(--fontsizesmallmdesktop);
    padding: 8px;
    width: 40rem;
}

#message {
    height: 10rem;
}

#submitTitle {
    font-size: var(--fontsizesmalldesktop);
    font-family: street street-fighter-zero-3-arcade-1-0;
}

#submitTitle:hover {
    transform: scale(1.5);
    background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(255, 238, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(3px 3px 4px rgb(45, 73, 197));}


.divGif {
    display: flex;
    justify-content: center;
}
}